@import url('https://fonts.googleapis.com/css?family=Roboto');

body {

  font-family: "Roboto", serif;

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.content1 {
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

#select {
  color: black;
  text-decoration: none;
}

h1 {
  margin: 2em 0 1.5em 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #130B0B;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu>li {
  float: left;
  position: relative;
}

#main-menu>li>a {
  font-size: 0.85rem;
  color: #EFE3E3;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 14px 36px;
}

#sub-menu {
  position: absolute;
  background: #130B0B;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
  width: 180px;
  text-align: center;
}

#sub-menu>li {
  padding: 16px 28px;
}

#sub-menu>li>a {
  color: #EFE3E3;
  text-decoration: none;
}

#main-menu>li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}

#sub-menu>li>a:hover {
  text-decoration: underline;
}

.content2 {
  padding: 0px 200px 30px 200px;
}

footer {
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
